.wrapper {
    display: block;
    text-align: center;

}

.form-wrapper {
    display: block;
    text-align: center;
}

.form {
    display: block;
    text-align: center;
}

.title {
    display: block;
    text-align: center;
}

.link-register {
    text-decoration: underline;
    margin-left: 8px;
}

#basic {
    display: block;
    margin-left: 44%;
    transform: translateX(-50%);
    
}